noderedflow.json
[{"id":"4bc15d0c.e2ec44","type":"tab","label":"Bot","disabled":false,"info":""},{"id":"26fb57fd.9473c8","type":"function","z":"4bc15d0c.e2ec44","name":"Input Function","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":300,"wires":[["1fa811db.b9cbfe","28c45dcb.7a6722"]],"l":false},{"id":"90b79e30.d3b5a","type":"function","z":"4bc15d0c.e2ec44","name":"Output Function","func":"\n    msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":300,"wires":[["574e18c0.ed50b8","8b9315e8.a74b48"]],"l":false},{"id":"7e5e9390.a5a41c","type":"inject","z":"4bc15d0c.e2ec44","name":"","topic":"ChatBot","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":199.60000610351562,"y":256.4000015258789,"wires":[["26fb57fd.9473c8"]],"l":false},{"id":"20f96d9c.ff3532","type":"ui_form","z":"4bc15d0c.e2ec44","name":"","label":"","group":"76d83736.1c12e8","order":3,"width":"0","height":"0","options":[{"label":"enter your query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":360,"wires":[["26fb57fd.9473c8"]]},{"id":"d23dbf19.629ed","type":"ui_text","z":"4bc15d0c.e2ec44","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":-13,"y":397,"wires":[],"l":false},{"id":"1fa811db.b9cbfe","type":"watson-conversation-v1","z":"4bc15d0c.e2ec44","name":"Bot","workspaceid":"c3fa9f69-667c-4ee4-89ee-3452a71361a9","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/0b5f8436-3c32-46cc-b891-c1d69cd027dc","timeout":"","optout-learning":false,"x":428.00000762939453,"y":190.00000476837158,"wires":[["90b79e30.d3b5a"]]},{"id":"28c45dcb.7a6722","type":"ui_text","z":"4bc15d0c.e2ec44","group":"76d83736.1c12e8","order":1,"width":6,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":400,"wires":[],"l":false},{"id":"574e18c0.ed50b8","type":"debug","z":"4bc15d0c.e2ec44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":440,"wires":[],"l":false},{"id":"8b9315e8.a74b48","type":"ui_template","z":"4bc15d0c.e2ec44","group":"76d83736.1c12e8","name":"","order":2,"width":6,"height":5,"format":"<!DOCTYPE html>\n<html>\n<head>\n<style>\ndiv.scrl {\n  background-color: white;\n  width: 310px;\n  height: 400px;\n  overflow: auto\n  margin-bottom:20px;\n}\n</style>\n</head>\n<body>\n<div class=\"scrl\">{{msg.payload}}</div>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":100,"wires":[[]],"l":false},{"id":"76d83736.1c12e8","type":"ui_group","z":"","name":"CHAT BOT","tab":"ae7ebb27.212058","order":1,"disp":true,"width":"6","collapse":false},{"id":"ae7ebb27.212058","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]